# Dependencies
node_modules
pnpm-store

# Build output
/dist
/coverage

# VCS
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env
.env.*

# Docker
# Ne pas exclure les Dockerfiles
# docker-compose.yml peut être exclu du contexte

docker-compose.yml

# Misc
*.tsbuildinfo
